@import "../../../global-styles/mixins";

.error-container {
  @include singlePageContainer(#E6E9E8);

  .error-image {
    margin: 5rem 0 5rem 55rem;
  }

  .error-description {
    margin-left: 55rem;

    .error-back-link {
      margin-left: 7rem;
    }
  }
}
