<div class="form-wrapper">
    <form class="form-body"
          ng-submit="$ctrl.addCourse()">
        <h2 class="form-title">Add Course</h2>
        <label class="form-label"
               for="addCourseTitleInput">
            Title
        </label>
        <input type="text"
               class="form-input"
               id="addCourseTitleInput"
               placeholder="Enter title"
               ng-model="$ctrl.courseTitle">
        <label class="form-label"
               for="addCourseDescriptionInput">
            Description
        </label>
        <textarea rows="5"
               class="from-textarea"
               id="addCourseDescriptionInput"
               placeholder="Enter description"
               ng-model="$ctrl.courseDescription">
        </textarea>
        <label class="form-label"
               for="addCourseDurationInput">
            Duration in min
        </label>
        <input type="text"
               class="form-input"
               id="addCourseDurationInput"
               placeholder="Enter duration"
               ng-model="$ctrl.courseDuration">
        <button type="submit"
                class="btn form-button">
            Add
        </button>
        <button type="button"
                class="btn form-button" ng-click="$ctrl.backToHome()">
            Back
        </button>
    </form>
</div>
