<div class="course-container">
    <ul class="course-list" ng-repeat="course in $ctrl.courses | limitTo:$ctrl.coursePullSize |
    filter: $ctrl.filterValue | orderBy: '-uploadTime'">
        <li>
            <div class="info">
                <h3 class="flex-justify-between">
                    {{course.title}}
                    <span>{{course.timeAfterUpdate}}&nbsp{{course.displayDate}}</span>
                </h3>
                <p>{{course.description}}</p>
            </div>
            <div class="action-bar">
                <button type="button" class="btn btn-edit"
                        ng-click="$ctrl.pushCourseToEditForm(course)">
                    <span>Edit</span>
                </button>
                <button type="button" class="btn btn-delete" ng-click="$ctrl.deleteCourse(course)">
                    <span>Delete</span>
                </button>
            </div>
        </li>
    </ul>
    <button type="button" class="btn btn-secondary "
            ng-click="$ctrl.increase()">LOAD MORE</button>
</div>