<div class="course-control-bar flex-justify-between">
    <div>
        <input class="inp-search"
               type="search"
               placeholder="Name, fragment or date"
               aria-label="Search"
               ng-model="$ctrl.inputFilterValue">
        <button class="btn btn-info"
                type="submit"
                ng-click="$ctrl.applyFilter()">
            Search
        </button>
    </div>
    <div>
        <button class="btn btn-info"
                id="btn-add-pos"
                type="button"
                ng-click="$ctrl.toggleFormForAdd()">
            Add course
        </button>
    </div>
</div>