@import "../../global-styles/colors";

.header {
  background: $blueColor;
  color: white;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  .logo-item {

    .logo-title {
      font-size: 1.5rem;
    }

    .logo-image {
      vertical-align: middle;
      margin-right: 0.25rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
