.btn-logoff {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #0275d8;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem; }

.btn-logoff:hover {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #0275d8;
  border: 0.1rem solid #0275d8;
  border-radius: 0.4rem; }

.btn-info {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #5bc0de;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem; }

.btn-info:hover {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #5bc0de;
  border: 0.1rem solid #5bc0de;
  border-radius: 0.4rem; }

#btn-add-pos {
  margin-right: 7rem; }

.btn-add-edit {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #0275d8;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem; }

.btn-edit {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #0275d8;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  padding: 0.75rem 0; }

.btn-delete {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #d9534f;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  padding: 0.75rem 0; }

.btn-secondary {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #cccccc;
  color: black;
  border: 0.1rem solid #cccccc;
  border-radius: 0.3rem;
  padding: 0.75rem 0;
  display: block;
  margin: 1rem;
  width: 98.5%;
  font-weight: 500; }

body {
  background: #f7f7f7;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0.1rem solid #cccccc;
  border-radius: 0.4rem;
  font-family: 'Roboto', sans-serif; }

.container {
  min-height: calc(100vh - 75px); }

.nav-list {
  list-style-type: none;
  padding: 1rem;
  margin: 0; }
  .nav-list .nav-item {
    display: inline; }
    .nav-list .nav-item .nav-item-elem {
      text-decoration: none;
      color: inherit;
      margin: 0 0.75rem; }

.flex-justify-between {
  display: flex;
  justify-content: space-between; }

.btn-logoff {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #0275d8;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem; }

.btn-logoff:hover {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #0275d8;
  border: 0.1rem solid #0275d8;
  border-radius: 0.4rem; }

.btn-info {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #5bc0de;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem; }

.btn-info:hover {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #5bc0de;
  border: 0.1rem solid #5bc0de;
  border-radius: 0.4rem; }

#btn-add-pos {
  margin-right: 7rem; }

.btn-add-edit {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #0275d8;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem; }

.btn-edit {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #0275d8;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  padding: 0.75rem 0; }

.btn-delete {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #d9534f;
  color: white;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  padding: 0.75rem 0; }

.btn-secondary {
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background: #cccccc;
  color: black;
  border: 0.1rem solid #cccccc;
  border-radius: 0.3rem;
  padding: 0.75rem 0;
  display: block;
  margin: 1rem;
  width: 98.5%;
  font-weight: 500; }



.footer {
  background: #0275d8;
  text-align: right;
  width: 100%;
  height: 3.5rem;
  border-radius: 0.25rem; }
  .footer .footer-description {
    padding-top: 1rem;
    padding-right: 1rem; }

.header {
  background: #0275d8;
  color: white;
  border-radius: 0.25rem; }
  .header .logo-item .logo-title {
    font-size: 1.5rem; }
  .header .logo-item .logo-image {
    vertical-align: middle;
    margin-right: 0.25rem;
    width: 2.5rem;
    height: 2.5rem; }

.breadcrumbs {
  font-size: 1.1rem;
  color: black; }


.course-control-bar {
  background: #5bc0de;
  padding: 1rem 0.75rem;
  border-radius: 0.25rem; }
  .course-control-bar .inp-search {
    padding: 0.25rem;
    margin: 0 0.75rem; }

.course-container {
  border-radius: 0.25rem; }
  .course-container .info {
    width: 85%;
    display: inline-block; }
  .course-container .action-bar {
    width: 10%;
    display: inline-block; }
  .course-container .course-list {
    list-style-type: none;
    border: 0.2rem solid #cccccc;
    margin: 1rem;
    border-radius: 0.25rem; }
  .course-container .action-bar {
    margin: 0.5rem; }
    .course-container .action-bar .action-btn {
      width: 80%;
      margin: 0.2rem 0 0.2rem 2.5rem; }
  .course-container .course-date {
    display: block;
    margin-right: 1.5rem; }

.form-wrapper .form-title {
  margin-left: 2rem; }

.form-wrapper .courses-form {
  background: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0.1rem solid #cccccc; }
  .form-wrapper .courses-form .course-form-input {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.25rem;
    height: 1.5rem;
    border: 0.2rem solid #cccccc;
    border-radius: 0.25rem; }
  .form-wrapper .courses-form .course-from-label {
    padding-left: 0.25rem; }
  .form-wrapper .courses-form .course-form-input, .form-wrapper .courses-form .course-from-label {
    font-size: 1rem; }
