@import "mixins";
@import "colors";
@import "buttons";

body {
  background: $whiteColor;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0.1rem solid $grayLightColor;
  border-radius: 0.4rem;
  font-family: 'Roboto', sans-serif;
}
.container {
  min-height: calc(100vh - 75px);
}
.nav-list {
  list-style-type: none;
  padding: 1rem;
  margin: 0;

  .nav-item {
    display: inline;

    .nav-item-elem {
      text-decoration: none;
      color: inherit;
      margin: 0 0.75rem;
    }
  }
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
