@import "mixins";
@import "colors";
@import "buttons";

html, body {
  height: 100%;
}

body {
  background: $whiteColor;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.container {
  flex: 1 0 auto;

  .view-container {
    width: inherit;
  }
}

.nav-list {
  list-style-type: none;
  padding: 1rem;
  margin: 0;

  .nav-item {
    display: inline;

    .nav-item-elem {
      text-decoration: none;
      color: inherit;
      margin: 0 0.75rem;
    }
  }
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
