<div class="form-wrapper"
     ng-show="$ctrl.showFromForAdd">
    <h4 class="form-title">Add Course</h4>
    <form class="courses-form"
          ng-submit="$ctrl.addCourse()">
        <label class="course-from-label"
               for="addCourseTitleInput">
            Title
        </label>
        <input type="text"
               class="course-form-input"
               id="addCourseTitleInput"
               placeholder="Enter title"
               ng-model="$ctrl.courseTitle">
        <label class="course-from-label"
               for="addCourseDescriptionInput">
            Description
        </label>
        <input type="text"
               class="course-form-input"
               id="addCourseDescriptionInput"
               placeholder="Enter description"
               ng-model="$ctrl.courseDescription">
        <label class="course-from-label"
               for="addCourseDescriptionInput">
            Duration in min
        </label>
        <input type="text"
               class="course-form-input"
               id="addCourseDurationInput"
               placeholder="Enter duration"
               ng-model="$ctrl.courseDuration">
        <button type="submit"
                class="btn btn-add-edit">
            Add
        </button>
    </form>
</div>
<div class="form-wrapper"
     ng-show="$ctrl.showFromForEdit">
    <h4 class="form-title">Edit Course</h4>
    <form class="courses-form"
          ng-submit="$ctrl.editCourse()">
        <label class="course-from-label"
               for="editCourseTitleInput">Title</label>
        <input type="text"
               class="course-form-input"
               id="editCourseTitleInput"
               placeholder="Enter title"
               ng-model="$ctrl.toEditCourse.title">
        <label class="course-from-label"
               for="editCourseDescriptionInput">Description</label>
        <input type="text"
               class="course-form-input"
               id="editCourseDescriptionInput"
               placeholder="Enter description"
               ng-model="$ctrl.toEditCourse.description">
        <label class="course-from-label"
               for="editCourseDescriptionInput">Duration</label>
        <input type="text"
               class="course-form-input"
               id="editCourseDurationInput"
               placeholder="Enter description"
               ng-model="$ctrl.toEditCourse.duration">
        <button type="submit"
                class="btn btn-add-edit">
            Edit
        </button>
    </form>
</div>