@import "../../../colors";
@import "../../../mixins";

.form-title {
  margin-left: 2rem;
}

.form-wrapper {
  border-radius: 0.25rem;
  border: 0.1rem solid $grayLightColor;
  background: white;
  margin: 1rem;
  padding: 1rem;

  .form-body {
    .form-input {
      @include defaultFormInput(100%, 0.5rem);
    }
  }
}

.form-label {
  padding-left: 0.25rem;
}

.form-input, .form-label {
  font-size: 1rem;
}

.login-form-wrapper {
  margin: auto;
  width: 50%;
  border-radius: 0.5rem;
  border: 0.1rem solid $grayLightColor;
  background: white;

  .form-input {
    @include loginFormInput(98%, 0.5rem);
  }

  .form-body {
    margin: 0 2rem;
    padding: 1rem;
  }

  .form-button {
  }
}

.error-frame {
  color: red;
}