@import "../../../colors";

.form-wrapper {
  .form-title {
    margin-left: 2rem;
  }

  .courses-form {
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0.1rem solid $grayLightColor;

    .course-form-input {
      width: 100%;
      margin: 0.5rem 0 ;
      padding: 0.25rem;
      height: 1.5rem;
      border: 0.2rem solid $grayLightColor;
      border-radius: 0.25rem;
    }

    .course-from-label {
      padding-left: 0.25rem;
    }

    .course-form-input, .course-from-label {
      font-size: 1rem;
    }
  }
}