@import "../../global-styles/colors";

.breadcrumbs {
  font-size: 1.1rem;
  color: black;

  .breadcrumb-item {
    text-decoration: none;
    color: black;
  }
}

.no-breadcrumbs-body {
  background: $lightBlueColor;
}
